.container {

    height: 100vh;
    width: 1300px;
}

.block {
    display: flex;
    position: relative;
    background-color: #2196F3;
    height: 45px;
    width: 1300px;
    border-radius: 10px;
    margin: 0 0 0 13px;
}

.wrapper__number {
    display: inline-block;
    position: relative;
    height: 45px;
    width: 10px;
}

.number {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-weight: 500;
    height: 10px;
    width: 10px;
    margin: 10px 0 0 25px;
}

.wrapper__country {
    display: inline-block;
    position: relative;
    height: 45px;
    width: 45px;
}

.country {
    display: inline-block;
    height: 45px;
    width: 45px;
    position: relative;
    font-weight: 500;
    color: #ffffff;
    margin-left: 65px;
    border-left: 2px solid;
    padding-left: 15px;
    padding-top: 10px;
}

.wrapper__total {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    height: 60px;
    width: 250px;
}

.total {
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    width: 250px;
    position: relative;
    font-weight: 500;
    color: #ffffff;
    margin: 0px 0 0 750px;
    border-left: 2px solid;
    padding-left: 15px;
    padding-top: 10px;
}